<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-44 h-32 w-auto" src="https://www.flaticon.com/svg/static/icons/svg/2484/2484782.svg"
          alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Créer ton compte :
        </h2>

      </div>
      <form class="mt-8 space-y-6">

        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Ton Email">
          </div>
          <div>
            <label for="name" class="sr-only">name</label>
            <input id="name" name="name" type="name" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Ton nom">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Ton mot de passe">
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center justify-between">
            <div class="flex items-center">

              <a href="/login" class=" mx-auto ml-2 block font-bold text-blue-900">
                Vous avez déja un compte ?
              </a>
            </div>

          </div>

          <div class="text-sm">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
              Forgot your password?
            </a>
          </div>
        </div>

        <div>


          <button type="submit" id="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">

              </svg>
            </span>
            Sign in
          </button>

        </div>
        <!-- component -->
        <div id="errordiv"
          class=" hidden bg-teal-lightest border-t-4 border-teal rounded-b text-teal-darkest px-4 py-3 shadow-md my-2"
          role="alert">
          <div class="flex">
            <svg class="h-6 w-6 text-teal mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
            </svg>
            <div>
              <p class="font-bold">Une erreur coco :</p>
              <p id="card-errors" role="alert" class="text-sm"></p>
            </div>
          </div>
        </div>
        <!-- <div id="card-errors" role="alert"></div> -->
        <div id="card-success" role="alert"></div>
      </form>
    </div>
  </div>

  <script>
    const errorSys = document.querySelector('#errordiv');
    const form = document.querySelector('form');
    const submitButton = document.querySelector('#submit');
    const displayError = document.querySelector('#card-errors');
    const displaySuccess = document.querySelector('#card-success');

    submitButton.addEventListener('click', async (event) => {
      errorSys.classList.add("hidden");
    });

    form.addEventListener('submit', async (event) => {
      console.log('le bouton marche');
      const email = document.querySelector('#email-address').value;
      const name = document.querySelector('#name').value;
      const password = document.querySelector('#password').value;
      errorSys.classList.add("hidden");

      event.preventDefault();
      // console.log(email);
      // console.log(name);
      // console.log(password);
      const apiResponse = await fetch('/auth/signup',
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email: email,
            name: name,
            password: password
          })
        });
      console.log(apiResponse.status);
      if (apiResponse.status === 201) {
        displayError.textContent = "";
        displaySuccess.textContent = "Votre compte a été créé avec succé !";
      } else {
        console.log(apiResponse);
        const error = await apiResponse.json();
        console.log(error.message);
        errorSys.classList.remove("hidden");

        displaySuccess.textContent = "";
        displayError.textContent = error.message;
      }


    });



  </script>


</body>

</html>
