<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://js.stripe.com/v3/"></script>
  <title>Document</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>

  <div> <% products.forEach(product => { %>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="<%= product.image %>" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= product.name %></div>
        <p class=" text-gray-700 text-base"><%=product.description%></p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <a href="/product/<%=product.id%>"
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Achète
          mon
          gars !</a>
      </div>
    </div>
    <% }); %>

  </div>

</body>

</html>
